rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /images/{image}{
    	allow read;
    }
    
    match /high-scores/{highScore}{
    	allow read, write;
    }
  }
  
}