.Github {
  position: fixed;
  bottom: 4px;
  left: 4px;
  height: 36px;
  width: 104px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: 1px solid lightgray;
  border-radius: 18px;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.Github:hover {
  color: cornflowerblue;
  border-color: cornflowerblue;
}

.Github span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Github img {
  height: 21px;
  width: 21px;
}
